/* src/styles.css */
body {
  font-family: "Roboto", sans-serif;
  background-image: url(https://images.unsplash.com/photo-1547245324-d777c6f05e80?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHRveW90YSUyMGNhcnxlbnwwfHwwfHx8MA%3D%3D);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

/* angular:styles/global:styles */
